Repository danielholdsworth/dynamic_config_demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: api, auth, e2e, unit

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1
  gitmessageorb: danielholdsworth/gitmessageorb@3.2.0

workflows:
  setup-workflow:
    jobs:
      - gitmessageorb/deploy-or-not:
          param: e2e
      - path-filtering/filter:
          mapping: |
            packages/api/.* api true
            packages/auth/.* auth true
            packages/e2e/.* e2e true
            packages/unit/.* unit true
          # # Optional, defaults to main:
          # base-revision: origin/develop

Updated config.yml
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

[auth]
  .circleci/config.yml
Due: none

foo bar [e2e]
  .circleci/config.yml
Due: none

foo bar [e2e]
  README.md
Due: none

added more params to mapping [api]
  .circleci/config.yml
Due: none

foo [api]
  .circleci/config.yml
Due: none

test
  packages/api/README.md
Due: api

test
  packages/api/README.md
  packages/app/README.md
  packages/auth/README.md
  packages/unit/README.md
Due: api, auth, unit
